<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title>FarmStand - Edit</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container-fluid">
      <div class="row show-row">
        <div class="col show-img-div">
          <img src="<%=product.img%>" alt="" class="img-fluid show-img">
        </div>
        <div class="col show-info">
          <h4 class="show-header"><%=product.name%> from: <%=product.farmName%></h4>
          <form action="/shop/<%=product.id%>/edit?_method=PUT" method="POST" class="edit-form">
          <div class="form-group row edit-form-rows">
            <div class="col-sm-10">
              <label for="email" class="col-sm-2 col-form-label login-text">Name:</label>
              <input type="text" name="name" value="<%=product.name%>"/>
            </div>
          </div>
          <div class="form-group row edit-form-rows">
            <div class="col-sm-10">
              <label for="email" class="col-sm-2 col-form-label login-text">Desc:</label>
              <input type="text" name="description" value="<%=product.description%>"/>
            </div>
          </div>
          <div class="form-group row edit-form-rows">
            <div class="col-sm-10">
              <label for="email" class="col-sm-2 col-form-label login-text">Price:</label>
              <input type="text" name="price" value="<%=product.price%>"/>
            </div>
          </div>
          <div class="form-group row edit-form-rows">
            <div class="col-sm-10">
              <label for="email" class="col-sm-2 col-form-label login-text">Qty:</label>
              <input type="text" name="qty" value="<%=product.qty%>"/>
            </div>
          </div>
          <div class="form-group row edit-form-rows">
            <div class="col-sm-10">
              <label for="email" class="col-sm-2 col-form-label login-text">Img:</label>
              <input type="text" name="img" value="<%=product.img%>"/>
            </div>
          </div>
          <div class="form-group row btnz">
            <input type="submit" value="UPDATE" class="btn btn-main update-btn"/>
          </form>
          <form action="/shop/<%=product.id%>/edit?_method=DELETE" method="POST" class="delete-btn">
            <input type="submit" value="DELETE" class="btn btn-delete delete-btn"/>
          </form>
          <form method="GET" action="/shop/new" class="show-btn">
            <button class="btn btn-main back-btn" type='submit'>BACK</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
