<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- navbar -->
    <% include ../partials/nav.ejs %>
    <div class='container'>
          <h1 class="farmer-header">Add a Vegetable</h1>
          <div class="form-group">
            <form class="form-inline" action="/shop" method="POST">
                <input type="text" name="name" placeholder="Name"/><br/>
                <input type="text" name="description" placeholder="Description"/><br/>
                <input type="text" name="img" placeholder="Image URL"/><br/>
                <input type="text" name="price" placeholder="Price"/><br/>
                <input type="text" name="qty" placeholder="Quantity"/><br/>
                <input class="btn btn-primary" type="submit" name="" value="Create Product"/>
            </form>
          </div>
            <div class="table-responsive">
            <table class="table">
              <thead>
                <th class="header-text" scope="col">Name</th>
                <th class="header-text" scope="col">Price</th>
                <th class="header-text" scope="col">Quantity Available</th>
                <th class="header-text" scope="col"></th>
                <th class="header-text" scope="col"></th>
              </thead>
              <% for (let i = 0; i < product.length; i ++) { %>
                <!-- Modal -->
                <div id="myModal<%=i%>" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Modal Header</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                          <form action="/shop/new?_method=PUT" method="POST">
                            <input type="text" name="id" value="<%=product[i].id%>"/>
                            <input type="text" name="name" value="<%=product[i].name%>"/>
                            <input type="submit" name="" value="Submit Changes"/>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>

              <tr>
                <th class="info-table" scope="col"><%=product[i].name%></th>
                <th class="info-table" scope="col"><%=product[i].price%></th>
                <th class="info-table" scope="col"><%=product[i].qty%></th>

                <% if (product[i].qty <= 0) { %>
                  <th class="info-table">OUT OF STOCK</th>
                  <%  } else {%>

                  <th scope="col">
                    <!-- <form action="/shop/<%=product.id%>/edit" method="GET">
                      <input type="submit" value="UPDATE" class="btn btn-primary"/>
                    </form> -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%=i%>">UPDATE</button>
                  </th> <% } %>
                  </div>
                  <th scope="col">
                    <form action="/shop/<%=product.id%>?_method=PUT" method="POST">
                      <input type="hidden" name="qty" value="<%=product.qty - 1%>"/>
                      <input type="submit" value="DELETE" class="btn btn-danger"/>
                    </form>
                  </th>
              </tr>
                <% } %>
            </table>
            </div>
              <div class="div-button">
                <form method='GET' action='/shop'>
                  <button class="btn btn-success bottom-btn" type='submit'>BACK</button>
                </form>
              </div>
            </div>


</html>
