<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- navbar -->
    <% include ../partials/nav.ejs %>
    <div class='container'>
          <h1 class="farmer-header">Welcome!</h1>
          <div class="form-group">
            <form class="form-inline" action="/shop" method="POST">
                <input type="text" name="name" placeholder="Name"/><br/>
                <input type="text" name="description" placeholder="Description"/><br/>
                <input type="text" name="img" placeholder="Image URL"/><br/>
                <input type="text" name="price" placeholder="Price"/><br/>
                <input type="text" name="qty" placeholder="Quantity"/><br/>
                <input class="btn btn-primary" type="submit" name="" value="Create Product"/>
            </form>
          </div>
            <div class="table-responsive">
            <table class="table">
              <thead>
                <th class="header-text" scope="col">Name</th>
                <th class="header-text" scope="col">Price</th>
                <th class="header-text" scope="col">Quantity Available</th>
                <th class="header-text" scope="col"></th>
                <th class="header-text" scope="col"></th>
              </thead>
              <% for (let i = 0; i < product.length; i ++) { %>
                <!-- Modal -->
                <!-- <div id="myModal<%=i%>" class="modal fade" role="dialog"> -->
              <tr>
                <th class="info-table" scope="col"><%=product[i].name%></th>
                <th class="info-table" scope="col"><%=product[i].price%></th>
                <th class="info-table" scope="col"><%=product[i].qty%></th>

                <% if (product[i].qty <= 0) { %>
                  <th class="info-table">OUT OF STOCK</th>
                  <%  } else {%>

                  <th scope="col">
                    <form action="/shop/<%=product[i].id%>/edit" method="GET">
                      <input type="submit" value="UPDATE" class="btn btn-primary"/>
                    </form>
                  </th> <% } %>
                  </div>
              </tr>
                <% } %>
            </table>
            </div>
              <div class="div-button">
                <form method='GET' action='/shop'>
                  <button class="btn btn-success bottom-btn" type='submit'>BACK</button>
                </form>
              </div>
            </div>


</html>
