<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- nav-bar -->
    <% include ../partials/nav.ejs %>
    <div class="container show-div">
      <div class="row show-row">
        <div class="col show-img-div">
          <img src="<%=product.img%>" alt="" class="img-fluid show-img">
        </div>
        <div class="col show-info">
          <h4 class="show-header"><%=product.name%> from: <%=product.farmName%></h4>
          <h5 class="show-desc"><%=product.description%></h5>

        <% if (product.qty <= 0) { %>
          <h6 class="text-center">Availability: OUT OF STOCK.</h6>
        <%  } else {%>
          <h6 class="text-center">Availability: <%=product.qty%>/lbs || Price: $<%=product.price%></h6>
          <form action="/shop/<%=product.id%>?_method=PUT" method="POST" class="show-form">
            <!-- <input type="hidden" name="qty" value="<%=product.qty - 1%>"/> -->
            <input type="text" placeholder="Quantity" name="qty" id="qty" />
            <input type="submit" value="RESERVE" class="reserve btn btn-primary"/>
          </form>
        <% } %>
        <form method="GET" action="/shop" class="show-btn">
          <button class="btn btn-success" type='submit'>BACK</button>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
