<!-- table with info on the item that was generated -->
<div class="container showbox">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <th class="header-text" scope="col">Name</th>
      <th class="header-text" scope="col">Price</th>
      <th class="header-text" scope="col">Farm</th>
      <th class="header-text" scope="col">Quantity Available</th>
      <th class="header-text" scope="col">
        <!-- button to open modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#veggieModal">
          MORE INFO
        </button>
      </th>
    </thead>
    <tr>
      <th class="info-table" scope="col"><%=product.name%></th>
      <th class="info-table" scope="col">$<%=product.price%>/lb</th>
      <th class="info-table" scope="col"><%=product.farmName%></th>
      <th class="info-table prod-qty" scope="col"><%=product.qty%>/lbs</th>
      <!-- out of stock message pops up if qty goes to zero and takes away reserve option -->
      <% if (product.qty <= 0) { %>
        <th class="info-table">OUT OF STOCK</th>
        <%  } else {%>
      <!-- show qty availably if value of above 0 -->
        <th scope="col">
          <form action="/shop/<%=product.id%>?_method=PUT" method="POST">
            <!-- <input type="hidden" name="qty" value="<%=product.qty - 1%>"/> -->
            <input type="text" placeholder="Quantity" name="qty" id="qty" />
            <input type="submit" value="RESERVE" class="reserve btn btn-primary"/>
          </form>
        </th> <% } %>
    </tr>
  </table>
  </div>
    <div class="div-button">
      <form method='GET' action='/shop'>
        <button class="btn btn-success" type='submit'>BACK</button>
      </form>
    </div>
  <% include ../partials/footer.ejs %>
</div>

<!-- Modal - pops up when the more info button is clicked -->
<div class="modal fade" id="veggieModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content my-modal info-modal">
      <div class="modal-header">
        <h5 class="modal-body" id="modalTitle"><%=product.name%> from: <%=product.farmName%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="modal-close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><%=product.description%></h5>
        <img class="img-fluid" src="<%=product.img%>" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="container showbox">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <th class="header-text" scope="col">Name</th>
      <th class="header-text" scope="col">Desc</th>
      <th class="header-text" scope="col">Price</th>
      <th class="header-text" scope="col">Image</th>
    </thead>
    <tr>
      <form action="/shop/<%=product.id%>/edit?_method=PUT" method="POST">
      <th class="info-table" scope="col">
        <input type="text" name="name" value="<%=product.name%>"/>
      </th>
      <th class="info-table" scope="col">
        <input type="text" name="description" value="<%=product.description%>"/>
      </th>
      <th class="info-table" scope="col">
        <input type="text" name="price" value="<%=product.price%>"/>
      </th>
      <th class="info-table" scope="col">
        <input type="text" name="img" value="<%=product.img%>"/>
      </th>
    </tr>
    <thead>
      <!-- <th class="header-text" scope="col">Img</th> -->
      <th></th>
      <th class="header-text" scope="col">Qty</th>
      <th></th>
      <th></th>
    </thead>
    <tr>
      <th></th>
      <th class="info-table">
        <input type="text" name="qty" value="<%=product.qty%>"/>
      </th>

      <th scope="col">
            <input type="submit" value="UPDATE" class="btn btn-primary"/>
      </th>
      </form>
      <th scope="col">
        <form action="/shop/<%=product.id%>/edit?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" class="btn btn-danger"/>
        </form>
      </th>
    </tr>
  </table>
  </div>
    <div class="div-button">
      <!-- <input type="submit" value="UPDATE" class="btn btn-primary"/>
      </form> -->
      <form method='GET' action='/shop/new'>
        <button class="btn btn-success" type='submit'>BACK</button>
      </form>
    </div>
</div>
<% include ../partials/footer.ejs %>
